blessed==1.14.2
botocore==1.7.20
cement==2.8.2
colorama==0.3.7
dj-database-url==0.5.0
dj-static==0.0.6
Django==1.11.13
gunicorn==19.8.1
docker-py==1.7.2
dockerpty==0.4.1
docopt==0.6.2
docutils==0.14
jmespath==0.9.3
pathspec==0.5.0
python-dateutil==2.6.1
pytz==2018.4
requests==2.9.1
semantic-version==2.5.0
six==1.11.0
static3==0.7.0
tabulate==0.7.5
termcolor==1.1.0
virtualenv==16.0.0
wcwidth==0.1.7
websocket-client==0.44.0
whitenoise==3.3.1
requests==2.9.1
razorpay==1.1.1
sendgrid==5.4.1
